# Ignore .venv directory
.venv/

# Ignore PyCharm project files
.idea/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
env/
venv/
ENV/
VENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore compiled code
*.pyc
*.pyo
*.pyd